body {
  background: blanchedalmond;
}
.container {
display: flex;
flex-flow: row wrap;
}

.container > * {
  flex: 1 100%;
}

@media all and (min-width: 300px) {
  .b { flex: 1 auto;}
  .c { flex: 1 auto;}
  .d { flex: 1 auto;}
  .e { flex: 2 auto;}
  .f { flex: 2 auto;}
  .g { flex: 2 auto;}
  
}
.a {
  background-color:rgb(127, 242, 255);
  height: 150px;
  margin: 10px;
}

.b {
  background-color:rgb(127, 242, 255);
  width: 125px;
  height: 150px;
  margin: 10px;
}

.c {
  background-color:rgb(127, 242, 255);
  width: 125px;
  height: 150px;
  margin: 10px;
}

.d {
  background-color:rgb(127, 242, 255);
  width: 125px;
  height: 150px;
  margin: 10px;
}

.e {
  background-color:rgb(127, 242, 255);
  width: 100px;
  height: 150px;
  margin: 10px;
}
.f {
  background-color:rgb(127, 242, 255);
  width: 100px;
  height: 150px;
  margin: 10px;
}
.g {
  background-color:rgb(127, 242, 255);
  width: 100px;
  height: 150px;
  margin: 10px;
}
.h {
  align-self: flex-start;
  background-color:rgb(127, 242, 255);
  height: 300px;
  margin: 10px;
}